<h1>Enter characters at positions: <%= @character_positions&.join(', ') %></h1>

<%= form_with(model: @user_session, url: validate_characters_sessions_path) do |form| %>
  <%= csrf_meta_tags %>

  <div class="field">
    <%= form.label :selected_characters %>
    <%= form.password_field :selected_characters, id: 'selected_characters-field' %>
  </div>

  <div class="actions">
    <%= form.submit "Continue" %>
  </div>
<% end %>