<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= h(transaction.amount) %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= h(transaction.title) %>
  </p>

  <p>
    <strong>Sender name:</strong>
    <%= h(transaction.sender.user.username) %>
  </p>

  <p>
    <strong>Recipient name:</strong>
    <%= h(transaction.recipient_name) %>
  </p>

</div>
