<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBankingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <header>
    <nav>
      <% if logged_in? %>
        <%= link_to "Home", logout_path, method: :delete %>
      <% end %>
    </nav>
  </header>


  <body>
    <%= yield %>
  </body>
</html>
